@media only screen and (max-width: 1443px)
{
    .dropdown-menu{
        margin-right: 2px;
        gap: 9%;
    }
    .row{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 1330px)
{
    .dropdown-menu{
        gap: 8%;
    }
    .content{
        margin-left: -9px;
    }
}
@media only screen and (max-width: 1208px){
    .dropdown-menu{
        gap: 7%;
    }
    .sideimage{
        width: 35%;
        height: 25%;
        margin-left: 70%;
        
    }
}
@media only screen and (max-width: 1126px){
    .dropdown-menu{
        gap: 6%;
    }
}
@media only screen and (max-width: 1061px){
    .sideimage{
        margin-bottom: -12%;
    }
    .content{
        margin-right: -5%;
    }
}
@media only screen and (max-width: 1047px){
    .dropdown-menu{
        gap: 5%;
    }
}
@media only screen and (max-width: 981px){
    .dropdown-menu{
        gap: 6%;
        margin-left: 30%;
    }
    .sideimage{
        margin-bottom: -30%;
        margin-left: 40%;
        width: 50%;
        height: 40%;
    

    }
    .content{
        margin-left: 30px;
    }
}
@media only screen and ( max-width:898px){
    .menu-toggle {
        display: block;
        font-size: 50px;
        cursor: pointer;
        margin-left: 90%;
        margin-top: -70px;
    }

    .dropdown-menu {
        display: none;
        flex-direction: column;
        background: transparent;
        position: absolute;
        margin-left: 75%;
        padding: 10px;
        
        border: 5px solid black;
        background-color: gray ;
        color: black;
        gap: 5px;
    }
     .dropdown-menu.show {
        display: flex;
    }
}
@media only screen and (max-width:720px){
    .menu-toggle{
        margin-bottom: -20px;
    }
    .dropdown-menu{
        margin-left: 70%;
        margin-top: -15%;

    }
}
@media only screen and (max-width: 659px){
    .sideimage{
        width: 70%;
        height: 60%;
        margin-top: 5%;
        margin-left: 15%;
    }
    .dropdown-menu{
        margin-left: 65%;
    }
    h1{
        font-size: 75px;
    }
}
@media only screen and (max-width: 553px){
    .dropdown-menu{
        margin-top: -22%
    }
}
@media only screen and (max-width: 402px){
    .dropdown-menu{
        margin-top: -30%;
        margin-left: 50%;
    }
    .content{
        margin-top: 20%;
    }
    .sideimage{
        width: 100%;
        height: 90%;
    }
}
@media only screen and (max-width: 380px){
    .sideimage{
        width: 100%;
        height: 90%;
        margin-left: -2%;
    }
}