*{
    margin: 0;
    padding: 0;

}
html,
body{
    padding: 1px;
    margin: 1px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.row{
    margin: 0 auto;
    max-width: 1475px;
    margin-top: 20px;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.logo-head{
    margin-left: 10px;
    color: white;
}
.menu-toggle{
    display:none;
    font-size: 24px;
    cursor: pointer;
}
.dropdown-menu{
     list-style: none;
     display: flex ;
     gap: 10%;
     margin-left: 40%;
     margin-top: -7%;
}
.dropdown-menu li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;

    }
.dropdown-menu li a:hover{
    color: black;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-weight: bold;;

}
.content{
    margin-top: 14%;
    margin-left: 5%;
}
h1{
    font-size: 100px;
    color: white;
    font-weight: bold;
}
h3{
    font-size: 50px;
    font-weight: bold;
}
.para{
    color: rgb(96, 96, 237);
    font-size: 30px;
    font-weight: bold;
}
.btn{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    border-radius: 50px;
    margin-top: 20px;
    color: white;
    background-color: black;
    border: 2px solid white;
}
.btn:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease-in-out;
    
}
.sideimage{
    margin-left: 60%;
    margin-top: -50%;
    margin-top: -23%;
}
footer{
    background-color : rgb(141, 140, 140);
    font-size: 80%;
    padding: 50px;
    margin-top:100px;
    
    
}

.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;

}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: black;
}
.footer-nav li a:hover,
.footer-nav li a:hover{
    color: black;
}
footer p{
    color: black;
    text-align: center;
    font-size: 90%;
    margin: 20px;

}
